/* App.css */
.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.color-button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
}
